main.posts{
    header
    {
        padding: 12px;
        h2{
            &.section-title{
                font-size: 18px;
            }
    
        }
        select{
            width: 90px;
            height: 40px;
            appearance: none;
            /* SVG background image */
            background: url("../assets/icons/dropdown.svg") no-repeat;
            background-size: 40px;
            background-position: 100% center;
            background-repeat: no-repeat;
            background-color: #efefef;
            padding: 10px;
            border-radius: 5px;
        }
    }
    article.post{

        img.main-post{
            width: 100%;
        }
        
    }


}