* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Helvetica','sans-serif';
  background-color: #eef0f1;
}

h1, h2 {
  font-size: 20px;
  font-weight: bold;
  color: #202428;
}

a, a:hover {
  text-decoration: none;
  color: #363d44;
}

ul li {
  list-style: none;
}

#header {
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 1px rgba(209, 209, 209, 0.6);
          box-shadow: 0 1px 1px rgba(209, 209, 209, 0.6);
  height: 56px;
}

#header .container .logo img {
  max-height: 40px;
}

#header .container .form-control {
  width: 420px;
}

#header .container .form-control::-webkit-input-placeholder {
  color: #b1b1b1;
}

#header .container .form-control:-ms-input-placeholder {
  color: #b1b1b1;
}

#header .container .form-control::-ms-input-placeholder {
  color: #b1b1b1;
}

#header .container .form-control::placeholder {
  color: #b1b1b1;
}

#header .container .nav-menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .container .nav-menu > ul li {
  padding: 5px;
}

#header .container .nav-menu a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 100%;
  padding: 5px;
}

#header .container .nav-menu a:hover {
  background-color: #ededed;
  border-color: #ededed;
}

#header .container .nav-menu .btn-post {
  background-color: #3b49df;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 5px;
}

#header .container .nav-menu .btn-post:hover {
  background-color: #323ec2;
  border-radius: 5px;
}

#header .container .nav-menu .avatar img {
  width: 35px;
  border-radius: 50%;
}

main.posts header {
  padding: 12px;
}

main.posts header h2.section-title {
  font-size: 18px;
}

main.posts header select {
  width: 90px;
  height: 40px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  /* SVG background image */
  background: url("../assets/icons/dropdown.svg") no-repeat;
  background-size: 40px;
  background-position: 100% center;
  background-repeat: no-repeat;
  background-color: #efefef;
  padding: 10px;
  border-radius: 5px;
}

main.posts article.post {
  border: 1px solid rgba(8, 9, 10, 0.1);
  border-radius: 10px;
  margin-bottom: 0.75rem;
}

main.posts article.post .img-container {
  width: 100%;
}

main.posts article.post .img-container a img.main-post {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

main.posts article.post .author a {
  display: block;
}

main.posts article.post .author a.avatar-link {
  width: 10%;
}

main.posts article.post .author a img.avatar {
  border-radius: 50%;
  width: 50%;
}

.sidebar {
  margin-top: 15px;
}

.sidebar .links-tags ul li a {
  display: block;
  padding: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
}

.sidebar .links-tags ul li a:hover {
  background-color: #e2e4e6;
  color: #323ebe;
}

.sidebar .links-tags ul li a img {
  margin-right: 8px;
}

.sidebar .links-tags ul .more a {
  padding-left: 40px;
  color: #808080;
}

.sidebar .links-tags ul .more a:hover {
  color: #808080;
}

.sidebar .links-tags .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar .links-tags .tags a {
  padding: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidebar .links-tags .tags a:hover {
  border-radius: 5px;
  background-color: #e6e8e8;
}

.card h5 {
  margin-top: 14px;
  margin-left: 10px;
}

.card {
  margin-top: 15px;
  border-radius: 10px;
}

.card .card-one {
  height: 480px;
}

.card .card-two {
  height: 490PX;
}

.card a.main-link {
  position: absolute;
  top: 16px;
  left: 178px;
}

.sec-one {
  margin-top: 15px;
  margin-left: 16px;
}

.end {
  margin-top: 25px;
}

.tag-icon {
  position: absolute;
  background-color: #3b49df;
  border-radius: 5px;
  color: white;
  width: 39px;
  height: 20px;
  text-align: center;
  top: 78px;
  font-size: 13px;
}

.sec-one p.linux {
  margin-top: 37px;
  margin-right: 5px;
}

.sec-one p.core {
  margin-top: 30px;
  margin-right: 20px;
}

.tag-icon-two {
  position: absolute;
  background-color: #3b49df;
  border-radius: 5px;
  color: white;
  width: 39px;
  height: 20px;
  font-size: 13px;
  text-align: center;
  top: 344px;
}

.backend {
  margin-top: 47px;
}
/*# sourceMappingURL=style.css.map */