#header {
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(209, 209, 209, 0.6);
    height: 56px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    overflow: hidden;
    z-index: 1;
    // padding: 15px 0;

    .container {
        .logo {
            img {
                max-height: 40px;
            }
        }

        .form-control {
            width: 420px;

            &::placeholder {
                color: #b1b1b1;
            }
        }
    
        .nav-menu {
            & > ul {
                display: flex;
                align-items: center;

                li {
                    padding: 5px;
                }
            }
    
            a {
                transition: 0.2s;
                border-radius: 100%;
                padding: 5px;

                &:hover {
                    background-color: #ededed;
                    border-color: #ededed;
                    // box-shadow: ;
                }
            }
    
            .btn-post {
                background-color: #3b49df;
                color: #ffffff;
                padding: 8px 16px;
                border-radius: 5px;
    
                &:hover {
                    background-color: #323ec2;
                    border-radius: 5px;
                }
            }
    
            .avatar {
                img {
                    width: 35px;
                    border-radius: 50%;
                }
            }
        }
    }
}