main.selected-post{
    .container-fluid{
        border: 1px solid rgba(8,9,10,0.1);
        border-radius: 5px;
        .row{
            
            .header-img{
                width: 100%;
                border-radius: 5px 5px 0 0;
            }
            .container{
                .row{
                    section.post-header{
                        h1{
                            font-size: 30px;
                            font-weight: 700;
                        }
                        nav{
                            ul{
                                li{
                                    font-size: 14px;
                                    a.html-hashtag{
                                        @include hashtagTheme(#FFFFFF,#F53900)
                                    }
                                    a.css-hashtag{
                                        @include hashtagTheme(#FFFFFF,#2965F1)
                                    }
                                    a.js-hashtag{
                                        @include hashtagTheme(#000000,#F7DF1E)
                                    }
                                    a.react-hashtag{
                                        @include hashtagTheme(#61DAF6,#222222)
                                    }
                                }
                            }
                        }
                        .author{
                            a.avatar-link{
                                img{
                                    border-radius: 50%;
                                    width: 70%;
                                }
                            }
                            .author-data{
                                font-size: 14px;
                            }
                        }
                    }
                    section.post-content{
                        img{
                          max-width: 100%;
                        }
                        h2{
                            font-size: 32px;
                        }
                        p{
                            font-size: 1.125rem;
                            font-weight: 500;
                            line-height: 25px;
                            margin-top: 10px;
                        }
                        h3{
                            font-size: 1.5em;
                            font-weight: 700;
                        }
                        span.gratefulness{
                            color: #64707d;
                            font-weight: 700;
                        }
                    }
                    section.discussion{
                        .header-discussion{
                            h2{
                                margin-bottom: 0;
                            }
                            button{
                                border-radius: 5px;
                                border: 2px solid #d2d6db;
                                padding: 6px 12px;
                            }
                            button:hover{
                                border-color: #99a3ad;
                            }
                        }
                        .discussion-post{
                            margin-top: 25px;
                            img.avatar{
                                border-radius: 50%;
                                width: 30px;
                                height: 30px;
                                margin-right: 15px;
                            }
                            .comments{
                                width: 80%;
                            }
                            .discussion-author{
                                width: fit-content;
                                margin-right: 15px;
                                a{
                                    font-size: 14px;
                                    width: 30px;
                                }
                            }
                            .discussion-content{
                                width: 80%;
                                .content-author{
                                    font-size: 14px;
                                    a{
                                        color: #64707d;
                                        margin: 0 3px;
                                        &.author-link:hover{
                                            color: #4d5760;
                                        }
                                        &.discussion-options{
                                            line-height: 0px;
                                            font-size: 24px;
                                            &:hover{
                                                color: #08090a;
                                            }
                                        }
                                        &:hover{
                                            color: #08090a;
                                        }
                                    }
                                    span{
                                        &.separator{
                                            color: #b5bdc4;
                                            margin: 0 5px;
                                        }
                                    }
                                    p{
                                        margin-top: 20px;
                                    }
                                }
                                .discussion-reviews{
                                    div{
                                        a{
                                            color: #64707d;
                                        
                                        }
                                    }
                                    
                                }
                            }
                        }
                        ul.nav{
                            li{
                                a{
                                    font-size: 14px;
                                    color: #64707d;
                                    font-weight: 500;
                                }
                            }
                        }

                    }
                    section.read-next{
                        div{
                            a{
                                img{
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 50%;
                                }
                            }
                            div.other-post{
                                width: auto;
                                a{
                                    h3{
                                        font-size: 1.25rem;
                                        font-weight: 700;
                                    }
                                }
                                span{
                                    font-size: 14px;
                                    color: #202428;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    main.selected-post{
        .container-fluid{
            
            .row{
                
                .header-img{
                }
                .container{
                    .row{
                        section.post-header{
                            h1{
                                font-size: 36px;
                            }
                        }
                        section.post-content{
                            h2{
                                font-size: 32px;
                            }
                            h3{
                                font-size: 27px;
                            }
                        }
                    }
                }
            }
        }
    }

}
@media only screen and (min-width: 1024px) {
    main.selected-post{
        .container-fluid{
            
            .row{
                
                .header-img{
                }
                .container{
                    .row{
                        section.post-header{
                            h1{
                                font-size: 48px;
                            }
                        }
                        section.post-content{
                            h2{
                                font-size: 35px;
                            }
                            h3{
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}