// Listings section
.card-header{
    border-radius: 1px;
    .sec-link{
        font-size: 15px;
        a{
            color:#323ec2;            
        }        
    }
}
.subcard-content-sec{
    font-size: 14px;
}
.list-group-item:hover{
    color: #323ec2;
}
.tag-sec{
    font-size: 12px;
}
.listing-footer{
    font-size: 14px;
}

// News section
.mini-button-btn{
    border-radius: 5px;
    font-size: 11px;
    width: 35px;
    background-color: #323ec2 ;
}
