.card h5{
    margin-top: 14px;
    margin-left: 10px;
}

.card{
    margin-top: 15px;
    border-radius: 10px;

    .card-one{
        height: 480px;
    }
    .card-two{
        height: 490PX;
    }
}
.card a.main-link{
    position: absolute;
    top: 16px;
    left: 178px;
}
.sec-one{
    margin-top: 15px;
    margin-left: 16px;
}
.end{
    margin-top: 25px;
}



