.container-lg{
    border: 10px black solid;
}
.row{
    border: 5px red solid;
}
.col-12{
    border: 5px blue solid;
}
.card{
    margin-top: 10px;
    border-radius: 10px;
}
.card-title{
    display: inline-block;    
    margin-right: 130px;
}
.card-content{
    border-bottom: 1px black}


