// .col-sm-11{
//     border: 5px black solid;
// }
.post-card{
    height: 350px;
}
.backcolor{
    background: black;
    height: 35px;
}
.avatar-mainavatar{
    position: absolute;
    right: 175px;
    bottom: 265px
}
.profile-name:hover{
    color: #323ec2;

}
