.profile-card{
    height: fit-content;
}
.backcolor{
    background: black;
    height: 30px;
}
.profile-name:hover{
    color: #323ec2;
    font-size: 20px;
}
.subcard-content-profile{
    font-size: 14px;
}
.profile-link{
    color: #323ec2;
}

// Sticky Icons
.col-sticky-position{        
    background-color:#eef0f1;
}
@media screen {
    
}